* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    /* 色相 レイヤーを重ねたときにどのように重ねて表示するかの設定になります。 */
    mix-blend-mode: hue;
}
